body {
    min-height: 200vh;
}

.logo {
    font-weight: 300;
    padding-left: 10px;
}

.thin-text {
    font-weight: 300;
    background: rgba(96, 125, 139, .4);
    padding: 40px;
    border-radius: 10px;  
}

.section-header {
    font-weight: 300;
}